
streamlit 
azure-core
requests
uvicorn
gunicorn
pandas 
numpy  
langchain
azure-mgmt-storage
pydantic 
fastapi
azure-ai-language-questionanswering
chromadb
hnswlib
openai
selenium
unstructured
webdriver_manager
pysqlite3-binary

